/* begin normalize.css form styles */
/* https://github.com/necolas/normalize.css */


/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* end normalize.css form styles */


/* ===== BASE STYLES ===== */

/*
  Setting type to a perfect fourth(3:4) modular scale
  http://www.modularscale.com/
*/

html {

  font-size: 1em;/*16px*/
  line-height: 1.2em; /*19.2px @ 16;*/
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background-color: #FFFFFF;
  font-weight: 400;
}

/*all em's are divided by new base 16*/
h1 {
  font-size: 1.777em;/*28.43px @ 16;*/
  line-height: 1.351em;/*38.4px @ 28.43px;*/
  font-family: inherit;
  text-align: center;
}

h2, h3 {
  font-size: 1.333em;/*21.328px @ 16;*/
  font-family: inherit;
  text-align: center;
}

/*h3 {
}*/

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #778899;
}

li a {
  text-decoration: none;
  color: #778899;
}

/* ======= Form =============*/
label,
input {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  /*font-size: inherit;
  line-height: inherit;*/
}

/* ===== RESPONSIVE MEDIA ===== */
img, audio, video {
  display: block;
  max-width: 100%;
}

.menu:hover {
  color: red;
  text-decoration: underline;
}

.title:hover {
  color: red;
  text-decoration: underline;
}

#toggle {
  position: absolute;
  z-index: 1;
}

/* ===== LAYOUT STYLES ===== */
#hamburger {
  padding: 10px;
  border: 0;
  z-index: 99;
}

#content {
  padding: 1.351em;/*38.4px @ 28.43px;*/
}

#login-form {
  background-color: #DCDCDC;
  border-radius: 0.3em;
  padding: 1.351em;/*38.4px @ 28.43px;*/
}

#input-pass {
  padding-top: 1em;
  padding-bottom: 1em;
}

#input-submit {
  padding-bottom: 1em;
}

#h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: 0.0625em 0.0625em 0.125em #000;
}

#redCol {
  padding: 0.5em;
  margin-left: 20em;
  margin-right: 20em;
  border-style: solid;
  border-width: thick;
  /*background-color: yellow;*/
}

#news {
  text-align: center;
  margin: .5em;
}

.hd {
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  /*position: relative;*/
  text-align: center;
  background-color: #CC0000;
}

.foot {
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.fall2016,
.spring2017,
.fall2017 {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  overflow-y: auto;
}

.course,
.table-header {
  display: inline-flex;
}

h5 {
  margin-right: 10px;
}

.id {
  min-width: 72px;
  margin-right: 10px;
}

.des {
  min-width: 150px;
  margin-right: 10px;
}

.place {
  min-width: 81px;
  margin-right: 10px;
}

.time {
  min-width: 90px;
  margin-right: 10px;
}

/****FLEXBOX STUFF FOR MAIN-PAGE IDK WHERE TO PUT IT*********************/

#navi {
  position: fixed;
  margin-top: 0.1em;
}

#main section {
  border-style: solid;
  border-width: thick;
}

#main {
  min-height: 72.5em;
  margin-top: -1.8em;
  padding-left: 10em;
  padding-top: 1.5em;
  /*padding: 0em;*/
  display: flex;
  flex-flow: column;
  /*background-color: green;*/
}
#main > #leftCol {
  margin: 0.375em;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  flex: 1 6 33%;
  order: 1;
  /*background-color: blue;*/
}

#main > #midCol {
  margin: 0.375em;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  flex: 1 6 33%;
  order: 2;
  /*background-color: yellow;*/
}

#main > #rightCol {
  margin: 0.375em;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  flex: 1 6 33%;
  order: 3;
  /*background-color: orange;*/
}

#burgerMenu {
  background-color: #191919;
  z-index: 1;
  width: 5.5em;
  height: 45%;
  margin: 0 0 0 -50px;
  padding: 50px;
  padding-top: 10px;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
}

#toggle input {
  display: block;
  position: absolute;
  width: 44px;
  height: 22.4px;
  top: -2px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}

#toggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}


/* ===== MODULAR STYLES ===== */
.forgot:hover {
  text-decoration: underline;
  color: #FF0000;
}

#submit:hover {
  background-color: #C0C0C0;
}

.error {
  color: red;
  /*border: 0.1em solid;
  border-radius: 0.1em;*/
}
/* ===== STATE STYLES ===== */

/* 3:4 */
/*3 + 4 = 7
500 / 9.6px = 52.08
3 x 52.08 = 156.24px Grid 1
4 x 52.08 = 208.32px Grid 2
768 / 9.6px = 80px
3 x 80px = 240px Grid 1
4 x 80px = 320px Grid 2
*/

/* 500px @ 16px for tablet/ipad scale */
@media screen and (min-width: 31.25em) {
  #login-form {
    width: 41.66%; /*156.24/500=0.3124, 208.32/500=0.4166*/
    margin-left: 25%;
  }
}

/* 768px @ 16px for tablet/ipad scale */
@media screen and (min-width: 48em) {
  html {
    font-size: 1.333em;/*21.328px @ 16px*/
    line-height: 1.1998em;/*25.59px @ 21.328px*/
  }

  .navi {
    width: 100%;
    line-height: 1em;
    position: absolute;
  }

  .navi li {
    border: thin solid white;
    float: left;
    width: 13%;
    margin: 0.2em;
    padding: 0;
    background-color: yellow;

  }

  .navi li a {
    display: block;
    padding: 10%;
    text-align: center;
    text-decoration: none;
  }

  .navi ul {
    list-style-type: none;
    padding: 0;
  }

  #main {
    min-height: 31.25em;
    margin-top: 4em;
    padding-left: 0;
    /*padding: 0em;*/
    display: flex;
    flex-flow: row;
    /*background-color: green;*/
  }
  #main > #leftCol {
    margin: 0.375em;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    flex: 1 6 33%;
    order: 1;
    /*background-color: blue;*/
  }

  #main > #midCol {
    margin: 0.375em;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    flex: 1 6 33%;
    order: 2;
    /*background-color: yellow;*/
  }

  #main > #rightCol {
    margin: 0.375em;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    flex: 1 6 33%;
    order: 3;
    /*background-color: orange;*/
  }

  #burgerMenu {
    width: 100%;
    height: auto;
  }

  #login-form {
    width: 31.24%; /*156.24/500=0.3124, 208.32/500=0.4166*/
    margin-left: 30%;
  }
}
